*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;

}

/* utility */
.text_center{
  text-align: center;
}

.list_inline{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* LAYOUT */
#zoom-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


/* top bar */
#top-bar{
  width: 100%;
  padding: 5px 15px 25px;
  font-size: 12px;
}

#top-bar .partecipans::after{
  content: '';
  display: inline-block;
  margin-left: 5px;
  vertical-align:  middle;
  border: 4px solid transparent;
  border-top-color: white;
}

#top-bar .options{
  position: absolute;
  top: 0;
  right: 10px;
}

#top-bar .options a{
  display: inline-block;
  padding: 4px 6px;
  margin: 4px;
  text-decoration: none;
  color: white;
  background: #333;
  border-radius: 5px;
}

#top-bar .options a:hover{
  color: red;
}



/* main window */
#main-window{
  width: 1600px;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main-window .user{
  position: relative;
  flex-basis: 25%;
  background: #666;
  border: 5px solid black;
  transition: all 0.5s;
}

#main-window .user:hover{
  border: 1px solid lightgreen;
}

#main-window .user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-window .user .name_user{
  width: 100%;
  height: 100%;
  position: relative;
}

#main-window .user .name_user .status{
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10px;
  background: #2d2d2d;
  padding: 2px 5px;
}

#main-window .user .name_user .status i{
  color: red;
}

#main-window .user .name_user:hover i{
  display: none;
}


/* action bar */
#action-bar{
  width: 100%;
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.list_inline li{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_inline li:hover{
  background: #4d4d4d;
}

.list_inline li:not(:first-child){
  /* margin-left: 15px; */
}

.list_inline li a{
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.list_inline li span{
  font-size: 12px;
}

.end_button a{
  text-decoration: none;
  color: #c91414;
  font-size: 15px;
}



/* small screen */

@media screen and (max-width: 576px) {
  #top-bar span{
    font-size: 15px;
  }

  #main-window .user{
    flex-basis: 50%;
    height: 200px;
  }

  #action-bar{
    padding: 0;
    width: 100%;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #top-bar .options{
    position: relative;
    padding: 10px 0 0;
  }

  .self_action{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .chat_actions{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .end_button{
    flex-basis: 100%;
    padding: 20px;
    text-align: center;
  }

 }


/* medium screen */
 @media screen and (min-width: 577px) and (max-width: 1199px) {

   #top-bar span{
     font-size: 15px;
   }

   #main-window .user{
     flex-basis: calc(100% / 3);
     height: 200px;
   }

   #action-bar{
     padding: 5px 0;
     width: 100%;
     background: #333;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

 }


/*  */
